////////////////////////////////////////////////////////////////////////////////
/// Variables
////////////////////////////////////////////////////////////////////////////////

$theforce-settings-bg-image: false !default;

////////////////////////////////////////////////////////////////////////////////
/// Mixins
////////////////////////////////////////////////////////////////////////////////

@mixin theforce-settings-bg($theforce) {
  @if $theforce != false {
    position: relative;
    display:block;
    border-radius:26px 26px 180px 180px;
    border:4px solid #D0D0D0;
    box-shadow: 0 25px #E7E7E7, 0 28px #D0D0D0;
    margin-bottom:40px;
    height:206px;
    background:#46381E;
    overflow:hidden;

    // .bg{
    //   position: absolute;
    //   top:0;
    //   left:0;
    //   right:0;
    //   bottom:0;
    //   border-radius:26px 26px 170px 170px;
    //   box-shadow: inset 100px 0px 2px rgba(#000, .1), inset -100px 0px 2px rgba(#fff, .15);
    // }

    .shine{
      position: absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      border-radius:26px 26px 170px 170px;
      // box-shadow: inset 100px 0px 5px rgba(#fff, .05), inset -100px 0px 5px rgba(#000, .15);
      box-shadow: inset 0px -20px #594220, inset 0px -23px #B3A289;
    }

    .image{
      position: absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      background: url($theforce) no-repeat center top;
      border-radius:26px 26px 170px 170px;
      // box-shadow: inset 175px 0px rgba(#fff, .03), inset 120px 0px rgba(#000, .25), inset 0px -5px 5px rgba(#000, .2);
    }

    .lines{
      position: absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      border-radius:26px 26px 170px 170px;
      // background: url($lines) no-repeat 90% bottom;
      box-shadow: inset 0px -12px 12px rgba(#2D220C, .6);
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
/// Header
////////////////////////////////////////////////////////////////////////////////

#theforce-settings-header{
  display:none;
  margin:-20px -20px 0;
  @include theforce-settings-bg($theforce-settings-bg-image);
}

#theforce-settings-wrapper{
  border-radius:32px;
  background:#F4F4F4;
  border:2px solid #F1F1F1;
  padding:30px;
  box-shadow: 0 5px #E7E7E7;
}

////////////////////////////////////////////////////////////////////////////////
/// Clouds
////////////////////////////////////////////////////////////////////////////////

#viewport {
  @include perspective(1000px);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-image: linear-gradient(bottom, #E5D5C7 28%, #D2CEDC 64%);
  background-image: -o-linear-gradient(bottom, #E5D5C7 28%, #D2CEDC 64%);
  background-image: -moz-linear-gradient(bottom, #E5D5C7 28%, #D2CEDC 64%);
  background-image: -webkit-linear-gradient(bottom, #E5D5C7 28%, #D2CEDC 64%);
  background-image: -ms-linear-gradient(bottom, #E5D5C7 28%, #D2CEDC 64%);
  border-radius:26px 26px 180px 180px;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.28, #E5D5C7),
    color-stop(0.64, #D2CEDC)
  );
}

// #world {
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   margin-left: -500px;
//   margin-top: -500px;
//   height: 1000px;
//   width: 1000px;
//   //border: 1px solid rgb( 255, 0, 0 );
//   -webkit-transform-style: preserve-3d;
//   -moz-transform-style: preserve-3d;
//   -o-transform-style: preserve-3d;
//   transform-style: preserve-3d;
//   pointer-events: none;
// }

// #world div {
//   -webkit-transform-style: preserve-3d;
//   -moz-transform-style: preserve-3d;
//   -o-transform-style: preserve-3d;
//   transform-style: preserve-3d;
// }

// .cloudBase {
//   //border: 1px solid #ff00ff;
//   position: absolute;
//   left: 500px;
//   top: 500px;
//   width: 20px;
//   height: 20px;
//   margin-left: -10px;
//   margin-top: -10px;
// }

// .cloudLayer {
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   width: 500px;
//   height: 500px;
//   margin-left: -128px;
//   margin-top: -128px;
//   -webkit-transition: opacity .5s ease-out;
//   -moz-transition: opacity .5s ease-out;
//   -o-transition: opacity .5s ease-out;
//   transition: opacity .5s ease-out;
// }

////////////////////////////////////////////////////////////////////////////////
/// Plugins
////////////////////////////////////////////////////////////////////////////////

table td.status{
  width: 1%;
}

////////////////////////////////////////////////////////////////////////////////
/// UI
////////////////////////////////////////////////////////////////////////////////

div.theforce{

  &:hover{
    z-index:150 !important;
  }
}

.theforce-add{
  text-align: center;

  a{

    i:before{
      color: #fff;
      display:inline-block;
      background: #6BBA31;
      text-shadow: 0 1px 2px darken(#6BBA31, 20%);
      border:1px solid darken(#6BBA31, 5%);
      width:20px;
      height:20px;
      vertical-align: middle;
      font-size: 14px;
      line-height: 20px;
      border-radius:50%;
      @include transition(background 300ms);
    }

    &:hover{

      i:before{
        background: darken(#6BBA31, 5%);
      }
    }
  }
}

.theforce-ui-item{

  &:hover{
    border-color:darken($theforce-top-bg, 10%) !important;
    border-style: dotted !important;

    .theforce-ui-ops{
      opacity:1 !important;
    }
  }
}

.theforce-ui-sort{

  &:hover{

    .theforce-ui-ops{
      pointer-events:auto !important;
    }
  }
}

#theforce-side{

  .theforce-ui-item{

    &:hover{
      border-color:darken($theforce-side-bg, 10%) !important;
    }
  }
}

#theforce-top{

  .theforce-text{
    display:none;
  }

  .theforce-label{
    position:static;
    line-height:$theforce-top-item-height;
    padding-left: $theforce-top-item-padding;
    padding-right: $theforce-top-item-padding;
  }

  .theforce-ui-ops{
    position:absolute;
    top:100%;
    left:0;
    right:0;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    opacity:0;
    z-index:5;
    pointer-events:none;
    @include transition(opacity 300ms);

    .theforce-ui-op{
      display:block;
      background: $theforce-top-bg;
      text-align: center;
      box-shadow: 0 2px 2px rgba(#000, .2);
      padding: 2px 0 4px;
      margin: 0 auto;
      width: 30px;
      color: $theforce-top-color;
      border-bottom:1px solid darken($theforce-top-bg, 10%);
      @include transition(color 300ms);

      &:last-child{
        border-radius: 0 0 3px 3px;
        border-bottom: none;
      }

      &:hover{
        color:$theforce-top-color-alt;
      }

      i{
        line-height:12px !important;
        font-size:12px !important;
      }

      &.progress-disabled{
        opacity:.7;
      }
    }

    .theforce-ui-drag{
      cursor: move;
    }

    .ajax-progress-throbber{
      display: none !important;
    }
  }
}

#theforce-side{
  .theforce-ui-ops{
    position:absolute;
    top: 9px;
    left:100%;
    right:0;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    white-space: nowrap;
    opacity:0;
    @include transition(opacity 300ms);

    .theforce-ui-op{
      display:inline-block;
      background: $theforce-side-bg;
      text-align: center;
      box-shadow: 2px 2px 2px rgba(#000, .2);
      padding: 6px 4px 8px;
      margin: 0 auto;
      // width: 30px;
      color: $theforce-side-color;
      border-right:1px solid darken($theforce-side-bg, 10%);
      @include transition(color 300ms);

      &:last-child{
        border-radius: 0 3px 3px 0;
        border-right: none;
      }

      &:hover{
        color:$theforce-side-color-alt;
      }

      i{
        line-height:12px !important;
        font-size:12px !important;
      }

      &.progress-disabled{
        opacity:.7;
      }
    }

    .theforce-ui-drag{
      cursor: move;
    }

    .ajax-progress-throbber{
      display: none !important;
    }
  }
}

.theforce-ui-loader{
  // @include align-content(center);
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background:rgba(#000, .2);
  z-index:9999;
  text-align: center;
  display:none;
  opacity:0;
  @include transition(opacity 300ms);

  &.show{
    @include display(flex);
    @include align-items(center);
  }

  &.animate{
    opacity:1;
  }

  img{
    display:block;
    width:50px;
    margin:0 auto;
    background:rgba(#000, .5);
    padding:20px;
    border-radius:50%;
    border: 5px solid #fff;
    box-shadow: 0 3px 6px rgba(#000, .3);
  }
}

// body{

//   &.theforce-top-enabled{

//     .theforce-ui-loader{
//       padding-top: $theforce-top-item-height;
//     }
//   }

//   &.theforce-side-enabled{

//     .theforce-ui-loader{
//       padding-left: $theforce-side-width;
//     }
//   }
// }

#theforce-top-ops-left{
  float:left;
}

#theforce-top-ops-right{
  float:right;
}

// .theforce-ui-edit{
//   display: block !important;
//   position: absolute !important;
//   padding:0 !important;
//   margin:0 !important;
//   left:50% !important;
//   margin-left:13px !important;
//   background: $theforce-top-bg;
//   width:20px;
//   text-align: center;
//   border-radius: 0 0 3px 3px;
//   box-shadow: 0 2px 2px rgba(#000, .2);
// }

// .theforce-ui-drag{
//   display: block !important;
//   position: absolute !important;
//   padding:0 !important;
//   margin:0 !important;
//   left:50% !important;
//   margin-left:-10px !important;
//   background: $theforce-top-bg;
//   width:20px;
//   text-align: center;
//   border-radius: 0 0 3px 3px;
//   box-shadow: 0 2px 2px rgba(#000, .2);
//   cursor: move;
// }

#theforce-theme-select{
    list-style: none;
    margin:0;
    padding:3px;
    background:#2C2E2F;
    border-radius:3px;
    @include clearfix();

    li{
      float:left;
      display:block;
      margin:0;
      padding:0;
      width:33.33%;

      a{
        color:#434343;
        display:block;
        padding:2px 4px;
        margin:3px;
        background: #fff;
        border:2px solid #fff;
        border-radius:3px;
        text-transform: uppercase;
        line-height:16px;
        font-size:12px;
        vertical-align: middle;
        text-decoration: none;
        cursor: pointer;

        &:hover,
        &.active{
          border:2px solid #5DAA50;
        }
      }

      i{
        font-size:16px;
      }
    }
  }
