////////////////////////////////////////////////////////////////////////////////
/// Mini/Mobile Styling
////////////////////////////////////////////////////////////////////////////////

.theforce-mini-location{
  display:none;
}

// When we have a top bar, we don't need to ever have the mini-location
// visible for the sidebar.
body.theforce-top-enabled{

  #theforce-side{
    .theforce-mini-location{
      display:none !important;
    }
  }
}

.theforce-mini{

  // .theforce-location:not(.theforce-mini-location){
  //   opacity: 0;
  //   margin: 0;
  //   @include filter(#{"blur(5px)"});
  // }
}




//////////////////////////////////
/// Top Specific Styling
/////////////////////////////////

#theforce-top .theforce-mini-location{
  text-align:right;

  .theforce-items,
  .theforce-item,
  .theforce-elements,
  .theforce-element{
    float:none;
    display:block;
  }
}

// When mini mode has been enabled on the top bar.
body.theforce-top-mini{

  #theforce-top{

    .theforce-location{
      display:none;
    }

    .theforce-mini-location{
      display:block;
      @include transition(opacity 400ms, margin 300ms, filter 600ms);
    }
  }
}

// When mini mode has been opened on the top bar.
body.theforce-top-mini-open #theforce-top{
  background: theforce-color($theforce-top-bg, 3%);
  bottom:0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  .theforce-location{
    display:block;
    clear:both;
    float:none !important;

    .theforce-items{
      float:none;
      height: auto;
    }

    .theforce-item{
      float:none;
      height: auto;
    }

    .theforce-elements{
      float:none;
    }

    .theforce-element{
      float:none;
    }

    .theforce-dropdown-content{
      position: relative;
      top:0;
      left:0;
      right:0;
      bottom:0;
      float:none;
      min-width:100%;
      overflow:auto;
      -webkit-overflow-scrolling: touch;

      .theforce-table{

        table{
          // table-layout:fixed;
          overflow:hidden;
        }

        td.views-field-title{
          // text-overflow: ellipsis;
          // white-space: nowrap;
          // overflow:hidden;
          max-width: 1px;
          width: 100%;
          // position: relative;
          // margin-right:-1000px;
        }

        .theforce-table-title{
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow:hidden;
          // max-width: 1px;
          width: 100%;
        }
      }
    }
  }

  .theforce-location:not(.theforce-mini-location){
    margin:$theforce-top-item-padding/1.5;
    background: $theforce-top-bg;
    box-shadow: 0 1px 2px rgba(#000, .1);
    opacity: 1;
    @include filter(#{"blur(0px)"});

    .theforce-item{
      margin:0;
    }
  }

  .theforce-mini-location{
    padding:0;
    margin:0;

    .theforce-item{
      background:theforce-shade($theforce-top-bg, 3%);
      box-shadow: inset 0px 2px 2px theforce-shade($theforce-top-bg, 5%);
    }
  }
}


//////////////////////////////////
/// Side Specific Styling
/////////////////////////////////

body.theforce-side-mini{

  &:not(.theforce-side-active){
    #theforce-side,
    #theforce-wrap,
    #theforce-top{
      // @include transition-duration(0ms);
      // @include transition-delay(0ms);
    }
  }

  #theforce-side{
    z-index:100 !important;
  }

  &.theforce-side-active #theforce-side{
    width:100% !important;
  }
}

// When mini mode has been enabled on the top bar.
body.theforce-side-mini:not(.theforce-top-mini-open){

  #theforce-side{
    width:0px !important;
    @include transition-duration(0ms);
    @include transition-delay(0ms);
  }

  #theforce-wrap,
  #theforce-top{
    left:0 !important;
    @include transition-duration(0ms);
    @include transition-delay(0ms);
  }
}
