////////////////////////////////////////////////////////////////////////////////
/// Mini/Mobile Styling
////////////////////////////////////////////////////////////////////////////////

.theforce-mini-location{
  display:none;
}

// When we have a top bar, we don't need to ever have the mini-location
// visible for the sidebar.
body.theforce-top-enabled{

  #theforce-side{
    .theforce-mini-location{
      display:none !important;
    }
  }
}




//////////////////////////////////
/// Top Specific Styling
/////////////////////////////////

#theforce-top .theforce-mini-location{
  text-align:right;

  .theforce-items,
  .theforce-item,
  .theforce-elements,
  .theforce-element{
    float:none;
    display:block;
  }
}

body.theforce-side-right #theforce-top .theforce-mini-location{
  text-align:left;
}

// When mini mode has been enabled on the top bar.
body.theforce-top-mini{

  #theforce-top{

    .theforce-location{
      display:none;
    }

    .theforce-mini-location{
      display:block;
    }
  }
}

// When mini mode has been opened on the top bar.
body.theforce-top-mini-open #theforce-top{
  background: theforce-color($theforce-top-bg, 3%);
  bottom:0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1;
  -webkit-overflow-scrolling: touch;

  .theforce-location{
    display:block;
    clear:both;
    float:none !important;

    .theforce-items{
      float:none;
      height: auto;
    }

    .theforce-item{
      float:none;
      height: auto;
    }

    .theforce-elements{
      float:none;
      height: auto;
    }

    .theforce-element{
      float:none;
    }

    .theforce-dropdown-content{
      position: relative;
      top:0;
      left:0;
      right:0;
      bottom:0;
      float:none;
      min-width:100%;
      overflow:auto;
      box-shadow: none;
      border-radius:0px;
      -webkit-overflow-scrolling: touch;

      .theforce-table{

        table{
          // table-layout:fixed;
          overflow:hidden;
        }

        td.views-field-title{
          // text-overflow: ellipsis;
          // white-space: nowrap;
          // overflow:hidden;
          max-width: 1px;
          width: 100%;
          // position: relative;
          // margin-right:-1000px;
        }

        .theforce-table-title{
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow:hidden;
          // max-width: 1px;
          width: 100%;
        }
      }
    }
  }

  .theforce-location:not(.theforce-mini-location){
    margin:$theforce-top-item-padding/1.5;
    background: $theforce-top-bg;
    box-shadow: 0 1px 3px rgba(#000, .5);

    .theforce-item{
      margin:0;
    }
  }

  .theforce-mini-location{
    padding:0;
    margin:0;

    .theforce-item{
      background:theforce-shade($theforce-top-bg, 3%);
      box-shadow: inset 0px 2px 2px theforce-shade($theforce-top-bg, 5%);

      a{
        color:$theforce-top-primary;
      }
    }
  }
}


//////////////////////////////////
/// Side Specific Styling
/////////////////////////////////

body.theforce-side-mini{

  // For speed... most animations are disabled in mini mode.
  #theforce-side,
  #theforce-wrap,
  #theforce-top,
  #theforce-side .theforce-item,
  #theforce-side .theforce-element,
  #theforce-side .theforce-icon,
  #theforce-side .theforce-text,
  #theforce-side-content,
  .theforce-side-content-inner{
    @include transition-delay(0ms);
    @include transition-duration(200ms !important);
  }

  #theforce-side{
    z-index:100 !important;

    .theforce-location{
      pointer-events:none;
    }
  }

  &.theforce-side-active #theforce-side{
    width:100% !important;

    .theforce-location{
      pointer-events:auto;
    }
  }
}

// When mini mode has been enabled on the top bar but is not open.
body.theforce-side-mini:not(.theforce-top-mini-open){

  #theforce-side{
    width:0px !important;
  }

  #theforce-wrap,
  #theforce-top{
    left:0 !important;
    right:0 !important;
  }
}
