////////////////////////////////////////////////////////////////////////////////
/// Side Content
////////////////////////////////////////////////////////////////////////////////

#theforce-side-content{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  overflow-y:auto;
  background:$theforce-side-bg;
  padding:10px;
  width: 100%;
  opacity:0;
  box-sizing: border-box;
  z-index: 15;
  @include clearfix();
  @include transition(opacity 300ms 300ms);

  .theforce-side-content-inner{
    @include transition(opacity 300ms);
    opacity:0;
  }

  .theforce-side-content-close{
    display:block;
    position: absolute;
    top:0px;
    right:5px;
    font-weight:200;
    padding:5px;
    font-size: $theforce-side-font-size*3;
    line-height: $theforce-side-font-size;
    color: theforce-color($theforce-side-bg, 20%);
  }

  .theforce-side-title{
    text-transform: uppercase;
    font-size:14px;
    line-height:14px;
    padding-bottom:10px;
    font-weight:600;
    text-align: center;
    color: $theforce-side-color-alt;
  }

  .theforce-side-description{
    font-size:13px;
    line-height:13px;
    padding-bottom:20px;
    text-align: center;
    color: $theforce-side-color;
  }

  &.animate{
    opacity:1;
    @include transform(translate3d(0, 0, 0));
    @include transition-delay(0ms);

    .theforce-side-content-inner{
      @include transition-delay(300ms);
      opacity:1;
    }
  }
}
