////////////////////////////////////////////////////////////////////////////////
/// Side Bar Core Styling
////////////////////////////////////////////////////////////////////////////////

#theforce-side{
  position: fixed;
  top:0;
  bottom:0;
  width:0;
  background-color: $theforce-side-bg;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: $theforce-font-size;
  -webkit-overflow-scrolling: touch;
  @include display(flex);
  @include flex-direction(column);
  @include transform(rotate(0deg));

  @include small-device-size{
    font-size: $theforce-font-size*1.2;
  }
  @include medium-device-size{
    font-size: $theforce-font-size*1.1;
  }

  a{
    color:$theforce-side-primary;
    @include transition(color 300ms);

    &:hover{
      color: theforce-color($theforce-side-primary, 10%);
    }
  }

  table td,
  table th{
    color: $theforce-side-color;
  }

  table th{
    font-size: $theforce-side-font-size*.8;
  }

  .theforce-side-close{
    display:block;
    position: absolute;
    top:0px;
    right:5px;
    font-weight:200;
    padding:5px;
    font-size: $theforce-side-font-size*3;
    line-height: $theforce-side-font-size;
    color: theforce-color($theforce-side-bg, 20%);
    opacity:0;
    @include transition(opacity 300ms);
    @include transition-delay(100ms);
  }

  #theforce-side-top{
    @include flex(auto);

    .theforce-item{
      &:first-child .theforce-element,
      &:first-child .theforce-label {
        height: $theforce-top-height;
        line-height:$theforce-top-height;

        @include small-device-size{
          height: $theforce-top-height*0.8;
          line-height:$theforce-top-height*0.8;
        }
      }
    }

    #theforce-side-top-content{
      border-bottom: 1px solid lighten($theforce-side-bg, 5%);
    }
  }

  #theforce-side-bottom{

    #theforce-side-bottom-content{
      border-top: 1px solid darken($theforce-side-bg, 5%);
    }
  }

  .theforce-grid{
    margin: 0;

    li{
      display:block;
      width:50%;
      float:left;
      padding: $theforce-side-item-padding/2;
    }

    a{
      background: $theforce-side-bg-alt;
      padding: $theforce-side-item-padding;
      border-radius: 3px;
      @include transition(background 200ms);

      &:hover{
        background: rgba(255,255,255,0.2);
      }
    }
  }

  .view{
    .views-field-title{
      white-space: normal;
    }
  }

  .ink{
    background: darken($theforce-side-bg, 10%);
  }

  .theforce-label{
    padding:0;
    line-height: $theforce-side-height;
    color: theforce-color($theforce-side-bg, 15%);
    text-shadow: 0 1px 0 theforce-shade($theforce-side-bg, 10%);
  }

  .theforce-icon{
    font-size: $theforce-side-item-padding*1.5;
    line-height: $theforce-side-font-size;
    width: $theforce-side-item-padding*1.5;
    text-align: center;
    padding: 0;
  }

  .theforce-text{
    max-width: 0;
    overflow: hidden;
    opacity: 0;
    @include transition(max-width 100ms, opacity 200ms);
    @include transition-delay(0ms);
  }

  .theforce-item{
    border-top: 1px solid lighten($theforce-side-bg, 5%);
    border-right: 1px solid rgba(255,255,255, 0);
    border-left: 1px solid rgba(255,255,255, 0);
    border-bottom: 1px solid darken($theforce-side-bg, 5%);
    color: $theforce-side-color;
    @include transition(border 200ms);
    @include clearfix();

    .theforce-item:last-child {
      border-bottom: none;
    }

    .theforce-element{
      padding-left: $theforce-side-font-size*2;
      color: $theforce-side-color;
      text-shadow: 0 1px 0 theforce-shade($theforce-side-bg, 10%);
      line-height:$theforce-side-height;
      @include transition(padding 200ms 0ms, background-color 300ms);

      @include small-device-size{
        padding-left: $theforce-side-font-size*1.33;
      }
      @include medium-device-size{
        padding-left: $theforce-side-font-size*1.6;
      }
    }

    a.theforce-element{
      position:relative;

      &:hover{
        background: rgba(255,255,255, 0.025);
        color: $theforce-side-color-alt;
      }

      &.active{
        color: $theforce-side-primary !important;
      }
    }
  }

  .theforce-elements{
    .theforce-icon{
      padding-left:0;
    }
  }
}

// Left Sidebar Position
body.theforce-side-left {
  #theforce-wrap {
    @include transition(left 100ms);
    @include transition-delay(100ms);
  }
  #theforce-side{
    @include transition(width 100ms);
    @include transition-delay(100ms);
    left:0;
  }
  #theforce-top{
    @include transition(left 100ms);
    @include transition-delay(100ms);
  }
}

// Right Sidebar Position
body.theforce-side-right {
  #theforce-wrap {
    @include transition(right 100ms);
    @include transition-delay(100ms);
  }
  #theforce-side{
    @include transition(width 100ms);
    @include transition-delay(100ms);
    right:0;
  }
  #theforce-top{
    @include transition(right 100ms);
    @include transition-delay(100ms);
  }
}

body.theforce-side-content{

  #theforce-side{
    width: $theforce-side-width;

    @include small-device-size{
      width: $theforce-side-width*0.8 !important;
    }
    @include medium-device-size{
      width: $theforce-side-width*0.9 !important;
    }
  }
}

body.theforce-side-active{

  &.theforce-side-left #theforce-wrap,
  &.theforce-side-left #theforce-top{
    left: $theforce-side-width-active !important;
    @include transition-delay(0ms);

    @include small-device-size{
      left: $theforce-side-width-active*1.2 !important;
    }
    @include medium-device-size{
      left: $theforce-side-width-active*1.1 !important;
    }
  }

  &.theforce-side-right #theforce-wrap,
  &.theforce-side-right #theforce-top{
    right: $theforce-side-width-active !important;
    @include transition-delay(0ms);

    @include small-device-size{
      right: $theforce-side-width-active*1.2 !important;
    }
    @include medium-device-size{
      right: $theforce-side-width-active*1.1 !important;
    }
  }

  #theforce-top{
    .theforce-item{
      opacity: 0.6;
    }
  }

  #theforce-side{
    width: $theforce-side-width-active;
    @include transition-delay(0ms);

    @include small-device-size{
      width: 100% !important;
    }
    @include medium-device-size{
      width: $theforce-side-width-active*1.1 !important;
    }

    .theforce-side-close{
      top:0;
      opacity:1;
    }

    .theforce-icon{
      margin-right: $theforce-side-item-padding*0.5;
    }

    .theforce-text{
      max-width: 100%;
      opacity:1;
      @include transition-delay(0ms);
    }
  }
}
