////////////////////////////////////////////////////////////////////////////////
/// Side Bar Core Styling
////////////////////////////////////////////////////////////////////////////////

#theforce-side{
  position: fixed;
  top:0;
  bottom:0;
  width:0;
  background-color: $theforce-side-bg;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  @include display(flex);
  @include flex-direction(column);

  a{
    color:$theforce-side-primary;
    @include transition(color 300ms);

    &:hover{
      color: theforce-color($theforce-side-primary, 10%);
    }
  }

  table td,
  table th{
    color: $theforce-side-color;
  }

  .theforce-side-close{
    display:block;
    position: absolute;
    top:-1000px;
    right:5px;
    font-weight:200;
    z-index:150;
    padding:5px;
    font-size:40px;
    line-height:30px;
    color: theforce-color($theforce-side-bg, 20%);
    opacity:0;
    @include transition(opacity 300ms);
  }

  #theforce-side-top{
    @include flex(auto);
  }

  .theforce-grid{
    margin: -5px;

    li{
      display:block;
      width:50%;
      float:left;
    }

    a{
      background: $theforce-side-bg-alt;
      margin:5px;
      @include transition(background 200ms);

      &:hover{
        background: rgba(255,255,255,0.2);
      }
    }
  }

  .view{
    .views-field-title{
      white-space: normal;
    }
  }

  .ink{
    background: darken($theforce-side-bg, 10%);
  }

  .theforce-label{
    padding:0;
    line-height: $theforce-side-height;
    color: theforce-color($theforce-side-bg, 15%);
    text-shadow: 0 1px 0 theforce-shade($theforce-side-bg, 10%);
  }

  .theforce-icon{
    font-size: $theforce-side-font-size + 6;
    line-height: $theforce-side-font-size;
    width: $theforce-side-font-size*2;
    text-align: center;
    padding: 0;
    @include transition(font-size 300ms);
  }

  .theforce-text{
    max-width: 0;
    overflow: hidden;
    opacity: 0;
    @include transition(max-width 200ms, opacity 200ms);
    @include transition-delay(0ms);
  }

  .theforce-item{
    border-top: 1px solid rgba(255,255,255, 0);
    border-right: 1px solid rgba(255,255,255, 0);
    border-left: 1px solid rgba(255,255,255, 0);
    border-bottom: 1px solid rgba(255,255,255, 0.05);
    color: $theforce-side-color;
    min-height: $theforce-side-height;
    @include transition(border 200ms);

    &:first-child .theforce-element,
    &:first-child .theforce-label {
      min-height: $theforce-top-height;
      line-height: $theforce-top-height;

      i.theforce-icon {
        line-height: $theforce-top-height !important;
      }
    }

    .theforce-element{
      padding-left: ($theforce-side-width - ($theforce-side-font-size*2)) / 2;
      color: $theforce-side-color;
      text-shadow: 0 1px 0 theforce-shade($theforce-side-bg, 10%);
      font-size:$theforce-side-font-size;
      line-height:$theforce-side-height;
      @include transition(padding 200ms 0ms, background-color 300ms);
    }

    a.theforce-element{
      position:relative;

      &:hover{
        background: rgba(255,255,255, 0.025);
        color: $theforce-side-color-alt;
      }

      &.active{
        color: $theforce-side-primary !important;
      }
    }
  }

  .theforce-elements{
    .theforce-icon{
      padding-left:0;
    }
  }
}

// Left Sidebar Position
body.theforce-side-left {
  #theforce-wrap {
    @include transition(left 200ms);
    @include transition-delay(200ms);
    // Does not work with mini view. Not sure why we need this anyways.
    // border-left: 1px inset $theforce-side-bg !important;
  }
  #theforce-side{
    @include transition(width 200ms);
    @include transition-delay(200ms);
    left:0;
  }
  #theforce-top{
    @include transition(left 200ms);
    @include transition-delay(200ms);
    // border-right: none !important;
    // Does not work with mini view. Not sure why we need this anyways.
    // border-left: 1px inset $theforce-side-bg !important;
  }
}

// Right Sidebar Position
body.theforce-side-right {
  #theforce-wrap {
    @include transition(right 200ms);
    @include transition-delay(200ms);
    // Does not work with mini view. Not sure why we need this anyways.
    // border-right: 1px inset $theforce-side-bg;
  }
  #theforce-side{
    @include transition(width 200ms);
    @include transition-delay(200ms);
    right:0;
  }
  #theforce-top{
    @include transition(right 200ms);
    @include transition-delay(200ms);
    // border-left: none !important;
    // Does not work with mini view. Not sure why we need this anyways.
    // border-right: 1px inset $theforce-side-bg !important;
  }
}

body.theforce-side-content{

  #theforce-side{
    width: $theforce-side-width !important;
  }
}

body.theforce-side-active{

  &.theforce-side-left #theforce-wrap,
  &.theforce-side-left #theforce-top{
    left: $theforce-side-width-active !important;
    @include transition-delay(0ms);
  }

  &.theforce-side-right #theforce-wrap,
  &.theforce-side-right #theforce-top{
    right: $theforce-side-width-active !important;
    @include transition-delay(0ms);
  }

  #theforce-side{
    width: $theforce-side-width-active !important;
    @include transition-delay(0ms);

    .theforce-side-close{
      top:0px;
      opacity:1;
    }

    .theforce-element{
      padding-left: $theforce-side-item-padding;
    }

    .theforce-icon{
      font-size: $theforce-side-font-size + 3;
    }

    .theforce-text{
      max-width: 100%;
      opacity:1;
      @include transition-delay(200ms);
    }
  }
}
