////////////////////////////////////////////////////////////////////////////////
/// Top Bar Core Styling
////////////////////////////////////////////////////////////////////////////////

#theforce-top{
  position: absolute;
  top:0;
  left:0;
  right:0;
  z-index: 2;
  font-size: $theforce-font-size;
  background-color: $theforce-top-bg;
  border-bottom: 1px solid darken($theforce-top-bg, 3%) !important;
  @include transform(rotate(0deg));
  @include clearfix();

  @include small-device-size{
    font-size: $theforce-font-size*1.2;
  }
  @include medium-device-size{
    font-size: $theforce-font-size*1.1;
  }

  a{
    color:$theforce-top-primary;
    @include transition(color 300ms);

    &:hover{
      color: theforce-color($theforce-top-primary, 10%);
    }
  }

  table td,
  table th{
    color: $theforce-top-color;
  }

  .theforce-items{
    // display:inline-block;
    float:left;
  }

  #theforce-top-left{
    float:left;
  }

  #theforce-top-right{
    float:right;
  }

  .theforce-item .theforce-element.theforce-node-create i{
    font-size: $theforce-top-font-size+28;
  }

  .ink{
    background: theforce-shade($theforce-top-bg, 15%);
  }

  .theforce-label{
    line-height: $theforce-top-height;
    text-align: center;
    color: $theforce-top-color-alt;
    z-index: 50;
    padding: 0 0 0 $theforce-top-item-padding;
  }

  .theforce-text{
  }

  .theforce-icon{
    font-size: $theforce-top-font-size*1.5;
    line-height: $theforce-top-font-size;
    width: $theforce-top-font-size*1.5;
    margin: 0 .25rem 0 0;
  }

  .theforce-item{
    float:left;
    color: $theforce-top-color;
    height: $theforce-top-height;
    white-space: nowrap;
    box-shadow: none;
    @include transition(background 200ms, box-shadow 200ms, opacity 200ms, margin 200ms);

    @include small-device-size{
      height: $theforce-top-height*0.8;
    }

    .theforce-element{
      // display:inline-block;
      float:left;
      display:block;
      padding: 0 $theforce-top-item-padding;
      margin: $theforce-top-item-padding/2 $theforce-top-item-padding/1.5;
      color: $theforce-top-color;
      text-shadow: 0 1px 0 theforce-shade($theforce-top-bg, 10%);
      line-height:$theforce-top-height*0.8;

      &:hover{
        z-index:10;
      }
    }

    > a.theforce-element{

      &:hover{
        color: $theforce-top-color-alt;
      }

      &.active{
        color: $theforce-top-primary !important;
        margin: 0 $theforce-top-item-padding/1.5;
        line-height:$theforce-top-height;
      }

      // &:first-child{
      //   margin-left: 0;
      // }

    }
  }

  #theforce-top-right{

    .theforce-text{
      left:auto;
      right: 100%;
      border-radius: 3px 0 0 3px;

      &:before{
        left:auto;
        right:-5px;
        border-width: ($theforce-top-font-size/2+4) 0 ($theforce-top-font-size/2+4) 5px;
        border-color: transparent transparent transparent $theforce-top-color;
      }
    }
  }

  .theforce-elements{
    float:left;
  }
}

// Hide icons if body class is set
.theforce-top-icon-only:not(.theforce-top-mini-open) {

  #theforce-top {

    .theforce-text{
      opacity:0;
      width:0px;
      max-width:0%;
      overflow:hidden;
      @include transition(opacity 300ms 0ms);
    }

    .theforce-item:not(.open) .theforce-element{

      &:hover{

        .theforce-text{
          opacity:1;
          display:block;
          overflow:visible;
          position:absolute;
          width: auto;
          max-width: 1000px;
          top: 50%;
          left:100%;
          margin-top: -$theforce-top-font-size/1.2;
          font-size: 11px;
          line-height: $theforce-top-font-size;
          background: $theforce-top-color;
          color:$theforce-top-bg;
          border-radius: 3px;
          padding: 4px 6px;
          box-shadow: 0 2px 2px rgba(#000, .2);
          pointer-events: none;
          text-shadow:none;
          z-index:100;
          @include transition(opacity 300ms 0ms, max-width 0ms 0ms);
          @include transition-delay(200ms);

          &:before{
            display:block;
            content:"";
            position: absolute;
            top:$theforce-top-font-size/2.5;
            left:-5px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 5px 5px 0;
            border-color: transparent $theforce-top-color transparent transparent;
          }
        }
      }


    }
  }
}
