////////////////////////////////////////////////////////////////////////////////
/// Top Bar Core Styling
////////////////////////////////////////////////////////////////////////////////

#theforce-top{
  position: absolute;
  height: $theforce-top-height;
  top:0;
  left:0;
  right:0;
  z-index: 2;
  font-size: $theforce-font-size;
  background-color: $theforce-top-bg;
  border-bottom: 1px solid darken($theforce-top-bg, 3%) !important;
  @include transform(rotate(0deg));
  @include clearfix();

  @include small-device-size{
    font-size: $theforce-font-size*1.15;
    height: $theforce-top-height*1.15;
  }
  @include medium-device-size{
    font-size: $theforce-font-size*1.15;
    height: $theforce-top-height*1.15;
  }

  a{
    color:$theforce-top-primary;
    @include transition(color 300ms, box-shadow 300ms, background-color 300ms, background-image 300ms);

    &:hover{
      color: theforce-color($theforce-top-primary, 10%);
    }
  }

  table td,
  table th{
    color: $theforce-top-color;
  }

  .theforce-items{
    // display:inline-block;
    float:left;
  }

  #theforce-top-left{
    float:left;
    padding-left: $theforce-top-item-padding/4;
  }

  #theforce-top-right{
    float:right;
  }

  .theforce-item .theforce-element.theforce-node-create i{
    font-size: $theforce-top-font-size+28;
  }

  .ink{
    background: theforce-shade($theforce-top-bg, 15%);
  }

  .theforce-label{
    line-height: $theforce-top-height-inner;
    text-align: center;
    color: $theforce-top-color-alt;
    z-index: 50;
    padding: 0 0 0 $theforce-top-item-padding;
  }

  .theforce-text{
  }

  .theforce-icon{
    font-size: $theforce-top-font-size*1.5;
    line-height: $theforce-top-font-size;
    margin: 0 $theforce-top-font-size/4 0 0;
  }

  .theforce-item{
    float:left;
    color: $theforce-top-color;
    white-space: nowrap;
    box-shadow: none;
    @include transition(background 200ms, box-shadow 200ms, opacity 200ms, margin 200ms);

    .theforce-element{
      // display:inline-block;
      float:left;
      display:block;
      padding: 0 $theforce-top-item-padding;
      margin: $theforce-top-item-padding/2 $theforce-top-item-padding/4;
      color: $theforce-top-primary !important;
      line-height: $theforce-top-height-inner - ($theforce-top-item-padding/2);
      border-radius: $theforce-border-radius;
      min-width: $theforce-top-font-size*3;
      box-shadow: 0 1px 2px rgba(0,0,0,0.08);
      @include linear-gradient(to bottom, rgba(lighten($theforce-top-bg, 5%), 0.9), rgba(lighten($theforce-top-bg,  10%), 0.25), $fallback: rgba($theforce-top-bg, 0.01));
      background-color: transparent;

      &:hover{
        z-index:10;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        @include linear-gradient(to bottom, rgba(lighten($theforce-top-bg, 5%), 1), rgba(lighten($theforce-top-bg,  10%), 0.4), $fallback: rgba($theforce-top-bg, 0.01));
        background-color: transparent;
      }
    }

    > a.theforce-element{

      &:hover{
        color: $theforce-top-color-alt;
      }

      &.active{
        color: darken($theforce-top-color, 10%) !important;
        box-shadow: none;
        background-color: transparent;
        background-image: none;
      }

      // &:first-child{
      //   margin-left: 0;
      // }

    }
  }

  #theforce-top-right{
    padding-right: $theforce-top-item-padding/4;

    .theforce-text{
      left:auto;
      right: 100%;
      border-radius: 3px 0 0 3px;

      &:before{
        left:auto;
        right:-12px;
        display:block;
        content:"";
        position: absolute;
        top:$theforce-top-font-size*0.6;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px;
        border-color: transparent transparent transparent $theforce-top-color;
      }
    }
  }

  .theforce-elements{
    float:left;
  }
}

// Hide icons if body class is set
.theforce-top-icon-only:not(.theforce-top-mini-open) {

  #theforce-top {

    .theforce-icon{
      padding: 0;
      margin: 0;
    }

    .theforce-item{

      .theforce-element{
        text-align: center;
      }
    }

    .theforce-item:not(.open) .theforce-element{

      &:hover{

        .theforce-text{
          opacity:1;
          display:block;
          overflow:visible;
          width: auto;
          max-width: 1000px;
          padding: 0 $theforce-top-item-padding*0.66;
        }
      }

      .theforce-text{
        opacity:0;
        width:0;
        max-width:0;
        overflow:hidden;
        @include transition(opacity 200ms 100ms, width 200ms 100ms, max-width 200ms 100ms, padding 200ms 0);
        display:block;
        position:absolute;
        top: 50%;
        left:100%;
        margin-top: -$theforce-top-font-size;
        font-size: $theforce-top-font-size;
        font-weight: normal;
        line-height: $theforce-top-font-size*2;
        background: $theforce-top-color;
        color:$theforce-top-bg;
        border-radius: 0 $theforce-border-radius $theforce-border-radius 0;
        padding: 0;
        box-shadow: 0 2px 2px rgba(#000, 0.25);
        pointer-events: none;
        text-shadow:none;
        z-index:100;

        &:before{
          display:block;
          content:"";
          position: absolute;
          top:$theforce-top-font-size*0.6;
          left:-6px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 6px 6px 6px 0;
          border-color: transparent $theforce-top-color transparent transparent;
        }
      }

      &.active{
        text-align: left;

        &:hover{
          background-color: transparent;
          background-image: none;
          
          .theforce-text{
            display: inline;
          }
        }

        .theforce-icon{
          padding: 0 $theforce-top-font-size/4 0 0;
          margin: 0 $theforce-top-font-size/4 0 0;
        }

        .theforce-text{
          background-color: transparent;
          background-image: none;
          color: $theforce-top-color;
          overflow: visible;
          position: relative;
          box-shadow: none;
          left: auto;
          width: auto;
          top: auto;
          margin: 0;
          display: inline;
          padding: 0;
          opacity: 1;

          &:before{
            display:  none;
          }
        }
      }
    }

  }
}
