////////////////////////////////////////////////////////////////////////////////
/// TheForce Inset Styling
////////////////////////////////////////////////////////////////////////////////
.theforce-top-style-inset {

  #theforce-wrap{
    box-shadow: 0 0 10px rgba(0,0,0,0.33);

    #theforce-content{
      @include transition(transform 500ms 0ms, width 500ms 0ms, filter 300ms ease-in-out 0ms);
    }
  }

  &.theforce-top-mini {

    #theforce-wrap{
      z-index: 1;
    }
  }
}

body.theforce-inset.theforce-top-style-inset{

  #theforce-wrap {

    #theforce-content{
      @include filter(#{"blur(5px)"});
    }
  }
}

////////////////
// Top
////////////////
.theforce-top-style-inset{
  #theforce-top{
    min-height: 0px;
  }
}

//Change the background gradient direction based off sidebar position
body.theforce-side-left.theforce-top-style-inset {
  #theforce-top{
    box-shadow: -8px 0 8px rgba(0, 0, 0, 0.2) inset;
    @include linear-gradient(to right, $theforce-top-bg, darken($theforce-top-bg, 5%), $fallback: $theforce-top-bg);
  }
}

body.theforce-side-right.theforce-top-style-inset {
  #theforce-top{
    box-shadow: 8px 0 8px rgba(0, 0, 0, 0.2) inset;
    @include linear-gradient(to right, darken($theforce-top-bg, 5%), $theforce-top-bg, $fallback: $theforce-top-bg);
  }
}

// Slight Mini adjustments
body.theforce-top-mini.theforce-top-style-inset{

  #theforce-top{
    background-image: none;
    background-color: rgba($theforce-top-bg, 0.8);

    #theforce-top-mini {
      @include linear-gradient(to right, $theforce-top-bg, darken($theforce-top-bg, 5%), $fallback: $theforce-top-bg);
    }
  }
}

////////////////
// Side
////////////////
.theforce-side-style-inset{
  #theforce-side{
    @include linear-gradient($theforce-side-bg, darken($theforce-side-bg, 10%), $fallback: $theforce-side-bg);
    z-index: 0;

    #theforce-side-content{
      @include linear-gradient($theforce-side-bg, darken($theforce-side-bg, 10%), $fallback: $theforce-side-bg);
    }

    #theforce-side-bottom{
      .theforce-item{
        border-top: 1px solid darken($theforce-side-bg, 2%);
        border-bottom: 1px solid darken($theforce-side-bg, 10%);
      }
    }
  }
}

//Side Active
body.theforce-side-style-inset.theforce-side-active{
  #theforce-side{
    @include small-device-size{
      z-index: 3;
    }
  }
}

