////////////////////////////////////////////////////////////////////////////////
/// TheForce Inset Styling
////////////////////////////////////////////////////////////////////////////////

#theforce-wrap.theforce-style-inset{
  box-shadow: 0 0 12px rgba(0,0,0,0.5);
  z-index: 1;
  
  #theforce-content{
    @include transition(transform 500ms 0ms, width 500ms 0ms, filter 300ms ease 0ms);
  }
}

body.theforce-inset{

  #theforce-wrap.theforce-style-inset {
    #theforce-content{
      @include filter(#{"blur(5px)"});
    }
  }
}

////////////////
// Top
////////////////
#theforce-top.theforce-style-inset{
  min-height: 0px;
  border-bottom: 1px solid darken($theforce-top-bg, 10%);
}

//Change the background gradient direction based off sidebar position
body.theforce-side-left {
  #theforce-top.theforce-style-inset{
    @include transition(left 200ms);
    @include transition-delay(200ms);
    @include linear-gradient(to right, $theforce-top-bg, darken($theforce-top-bg, 8%), $fallback: $theforce-top-bg);
  }
}

body.theforce-side-right {
  #theforce-top.theforce-style-inset{
    @include transition(right 200ms);
    @include transition-delay(200ms);
    @include linear-gradient(to right, darken($theforce-top-bg, 8%), $theforce-top-bg, $fallback: $theforce-top-bg);
  }
}

////////////////
// Side
////////////////
#theforce-side.theforce-style-inset{
  @include linear-gradient($theforce-side-bg, darken($theforce-side-bg, 12%), $fallback: $theforce-side-bg);

  #theforce-side-content{
    @include linear-gradient($theforce-side-bg, darken($theforce-side-bg, 12%), $fallback: $theforce-side-bg);
  }
}