////////////////////////////////////////////////////////////////////////////////
/// Animations
////////////////////////////////////////////////////////////////////////////////

@include keyframes(ripple) {
  from {
    opacity: 1;
    @include transform(scale(0));
  }
  to {
    opacity: 0;
    @include transform(scale(2.5));
  }
}

@include keyframes(scaleInLeft) {
  from {
    @include transform-origin(left top);
    @include transform(scale(.5));
    opacity: 0;
  }
  to {
    @include transform(scale(1));
    opacity: 1;
  }
}

@include keyframes(scaleInRight) {
  from {
    @include transform-origin(right top);
    @include transform(scale(.5));
    opacity: 0;
  }
  to {
    @include transform(scale(1));
    opacity: 1;
  }
}

@include keyframes(expandIn) {
  0% {
    width:auto;
    max-width:0%;
    opacity: 0;
  }
  50% {
    width:auto;
    max-width:100%;
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@include keyframes(expandDown) {
  0% {
    height:auto;
    max-height:0%;
    opacity: 0;
    overflow:hidden;
  }
  50% {
    height:auto;
    max-height:100%;
    opacity: 0;
  }
  100%{
    opacity: 1;
    overflow:visible;
  }
}
