////////////////////////////////////////////////////////////////////////////////
/// Variables
////////////////////////////////////////////////////////////////////////////////

//Font(s)
$theforce-font-family: 'Open Sans', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !default;
$theforce-font-size: 14px; // it's all relative

//Overlay Variables
$theforce-overlay-bg: #F2F2F2 !default;
$theforce-overlay-color: #595959 !default;
$theforce-overlay-color-alt: darken($theforce-overlay-color, 20%) !default;
$theforce-overlay-font-size: 1em !default;

//Top Variables
$theforce-top-bg: #F2F2F2 !default;
$theforce-top-color: theforce-color($theforce-top-bg, 50%) !default;
$theforce-top-color-alt: theforce-color($theforce-top-bg, 65%) !default;
$theforce-top-height: 3.5rem !default;
$theforce-top-height-inner: 3.5em !default;
$theforce-top-item-padding: 1em !default;
$theforce-top-font-size: 1em !default;
$theforce-top-primary: #0997c3 !default;

//Side Variables
$theforce-side-bg: #2C2E2F !default;
$theforce-side-bg-alt: theforce-shade($theforce-side-bg, 5%) !default;
$theforce-side-height: 3em !default;
$theforce-side-width: 5.5rem !default;
$theforce-side-width-inner: 6em !default;
$theforce-side-width-active: 30rem !default;
$theforce-side-color: theforce-color($theforce-side-bg, 50%) !default;
$theforce-side-color-alt: theforce-color($theforce-side-bg, 65%) !default;
$theforce-side-item-padding: 1em !default;
$theforce-side-font-size: 1.1em !default;
$theforce-side-primary: #0997c3 !default;

//Color Variables
$theforce-bg: #1D2326 !default;
$theforce-color: #3E3E3E !default;
$theforce-primary-color: #0080BA !default;
$theforce-green-color: #6BBA31 !default;
$theforce-purple-color: #7D30BF !default;
$theforce-red-color: #D70000 !default;
$theforce-yellow-color: #FDD117 !default;
$theforce-sky-color: #37BAEC !default;
$theforce-blue-color: #005FCA !default;
$theforce-white-color: #FFFFFF !default;

//Dropdown Variables
$theforce-dropdown-padding: 1em !default;
$theforce-dropdown-size: 1em !default;
$theforce-border-radius: 2px;
